<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!--&lt;!&ndash; 连接solr单机版 &ndash;&gt;-->
    <!--<bean id="solrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">-->
    <!--<constructor-arg index="0" value="http://192.168.25.128:8080/solr/collection1"/>-->
    <!--</bean>-->

    <!--连接solr集群版-->
    <bean id="solrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
        <constructor-arg name="zkHost" value="192.168.25.128:2182,192.168.25.128:2183,192.168.25.128:2184"/>
        <property name="defaultCollection" value="collection1"/>
    </bean>

</beans>
